.menu-switch{
    background: #00f;

    outline: 0;
    user-select: none;
    -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.dropdown .menu-switch{
    display: none;
    overflow: hidden;
}

.dropdown .menu-body {
    display:none;
    list-style-type: none;
    transform: translate(0, -100%);
    opacity: 0;
    width: 300px;
  }
  
.dropdown .menu-switch:checked ~ .menu-body {
    transform: translate(0, 0);
    opacity: 1;
    display: list-item;
    transition: all 0.5s;
  }


input[type=checkbox]{
    width: 100px;
    height: 20px;
    cursor: pointer;
}

input[type=checkbox] + span {
    background-color: rgb(255, 249, 197);
    display: inline-block;
    margin:0 em;
    padding: 0.5em 3em;
    border: 1px solid gray;
    color:#000000;
    border-radius: 15px;
    user-select: none; /* 防止文字被滑鼠選取反白 */
}

input[type=checkbox]:checked+span {
    color: yellow;
    background-color: #444;
}

ul li a{
    background-color: rgb(255, 249, 197);
    margin:0 em;
    padding: 0.5em 3em;
    position:relative;
    display:inline-block;
    color:#000000;
    border-radius: 15px;
    text-decoration: none;
}

ul li a:hover{
    background-color: #000000;
    color: #ffffff;
    text-decoration: underline overline;
}