

.sidebar{
    width: 200px;
    margin: 2em 0em;
    background-color: grey;
    grid-column: 1 ;
    grid-row: 1 / 4;
    border-right: 5px solid black;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;   
}

label{
    display: block;
    position: relative;
}

span{
    display:inline-block;
    width:180px;
    background-color: rgb(255, 249, 197);
    margin:2 em;
    padding: 10px;
    color:#000000;
    user-select: none; /* 防止文字被滑鼠選取反白 */
    cursor: pointer;
    vertical-align: middle;
    position: relative;
}

.dropdown .menu-body {
    height: 0px;
    overflow: hidden;
    list-style-type: none;
    transform: translate(0, -100%);
    width: 150px;
    margin: 5px;
    padding: 0em;
  }
  
.dropdown .menu-switch:checked + .menu-body {
    height: auto;
    transform: translate(0, 0);
    transition: all 1s;
  }


.dropdown input[type=checkbox]{
    z-index: 99;
    width:180px;
    height:30px;
    cursor: pointer;
    display: none;
    opacity: 0;
    padding: 0em;
    position: absolute;
}



.dropdown input[type=checkbox]:checked {
    color: yellow;
    background-color: #444;
}

.dropdown ul li a{
    text-align: left;
    background-color: rgb(255, 249, 197);
    margin:0 em;
    width: 150px;
    padding: 0.5em;
    position:relative;
    display:inline-block;
    color:#000000;
    text-decoration: none;
}

ul li a:hover{
    background-color: #000000;
    color: #ffffff;
    text-decoration: underline overline;
}