#logo{
    z-index: 10;
    top:0;
    padding: 0.5em 10em 0px 10em;
    height:10em;
    overflow:hidden;
    background-color: white;
}

#navbar{
    z-index: 10;
    background-color: white;
    position: sticky;
    top: 0em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align:center;
    padding: 1em 1em;
}

#navbar a{
    background-color: rgb(255, 249, 197);
    margin:0 em;
    padding: 0.5em 3em;
    position:relative;
    display:inline-block;
    color:#000000;
    text-decoration: none;
    border-radius: 15px;

}


#navbar a:hover{
    background-color: #000000;
    color: #ffffff;
    text-decoration: underline overline;
    transition:all 0.5s; 
}

ul {
    display: inline;
    margin: 0;
    padding: 0;
}

ul li{
    display: inline-block;
    border-radius: 15px;
}

ul li ul{
    z-index: 15;
    display: block;
    position:absolute;
    float: none;
    opacity:0;  
}

ul li:hover{
    background-color: #000000;
    color: #ffffff;
}

ul li:hover ul{
    opacity: 1;  
    transition:all 1s; 
}

ul li ul li {
    display:block;
} 

#gallery_frame{
    margin: 1em 8% ;
    height: 800px;
    position: relative;
    background-color: grey;
    padding:0px auto;
}

#gallery_frame img{
    vertical-align: middle;
}

#left{
    float: left;
    width: 720px;
    height: 780px;
    overflow: hidden;
    border: 10px solid #ffffff;
}

.bottom_line{    
    float: right;
    width: 200px;
    height: 150px;
    overflow: auto;
    border: 10px solid #ffffff;
    vertical-align: baseline;
}

#top{
    float: right;
    border: 10px solid #ffffff;
    vertical-align: top;
    width: 1080px;
    height: 650px;
}


.comments{
    font-family: "verdana", Helvetica, sans-serif;
    text-align:left;
    margin: 5em 40% 2em 5em ;
}

.footer{
    text-align:center;
    padding: 2em auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 200%;
}

.footer img{
    display:flex;
    margin:4em auto;
    height:5em;
    width: 20em;
    overflow:hidden;
}

.footer a{
    margin:1em 0.5em;
}