#logo{
    z-index: 10;
    top:0;
    padding: 0.5em 10em 0px 10em;
    height:10em;
    overflow:hidden;
    background-color: white;
}

#navbar{
    z-index: 10;
    background-color: white;
    position: sticky;
    top: 0em;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align:center;
    padding: 1em 1em;
}

#navbar a{
    background-color: rgb(255, 249, 197);
    margin:0 em;
    padding: 0.5em 3em;
    position:relative;
    display:inline-block;
    color:#000000;
    text-decoration: none;
    border-radius: 15px;

}


#navbar a:hover{
    background-color: #000000;
    color: #ffffff;
    text-decoration: underline overline;
    transition:all 0.5s; 
}

#navbar ul {
    display: inline;
    margin: 0;
    padding: 0;
}

#navbar ul li{
    display: inline-block;
    border-radius: 15px;
}

#navbar ul li ul{
    z-index: 15;
    display: block;
    position:absolute;
    float: none;
    opacity:0;  
}

#navbar ul li:hover{
    background-color: #000000;
    color: #ffffff;
}

#navbar ul li:hover ul{
    opacity: 1;  
    transition:all 1s; 
}

#navbar ul li ul li {
    display:block;
} 

#grid_container{
    display: grid;
    justify-content: center; 
    grid-template-columns: 150px 200px 200px 200px 200px;
    grid-template-rows: 600px 50px 150px;
    margin:2em 7%;
    justify-items: center;
    background-color: grey;
}

#top{
    align-self:center;
    overflow: hidden;
    grid-column: 2 / 6;
    grid-row: 1 / 2;
    background-color: grey;
    border: 10px solid white;
    padding: 0px;
    max-width: 750px;
}

#gallery_nav{
    align-self:center;
    overflow: hidden;
    grid-column: 2 / 6;
    grid-row: 2 / 3;
    background-color: grey;
    padding: 0px;
    max-width: 750px;
    align-content: flex-start;
}

#gallery_nav a{
    display: inline-block;
    background-color: yellow;
    border: 2px solid blue;
    margin: 0px 10em;
    padding: 2px;
}

#sidebar{
    background-color: grey;
    grid-column: 1 ;
    grid-row: 1 / 4;
    border-right: 5px solid black;
    text-align: center;
    font-family: "Trebuchet MS", Helvetica, sans-serif;   
}

#sidebar a{
    background-color: rgb(255, 249, 197);
    margin:5px;
    padding: 0.5em 3em;
    position:relative;
    display:block;
    color:#000000;
    text-decoration: none;
    border-radius: 15px;
}


#sidebar a:hover{
    background-color: #000000;
    color: #ffffff;
    text-decoration: underline overline;
    transition:all 0.5s; 
    
}

#sidebar ul li ul{
    z-index: 15;
    display: block;
    position:absolute;
    float: right;
    opacity:0;  
}

#sidebar ul li:hover{
    background-color: #000000;
    color: #ffffff;
}

#sidebar ul li:hover ul{
    opacity: 1;  
    transition:all 1s; 
}

#bottom_line1{
    margin: auto;
    background-color: grey;
    grid-column: 2 / 3;
    grid-row: 3 / 4;
}

#bottom_line2{
    margin: auto;
    background-color: grey;
    grid-column: 3 / 4;
    grid-row: 3 / 4;
}

#bottom_line3{
    margin: auto;
    background-color: grey;
    grid-column: 4 / 5;
    grid-row: 3 / 4;
}

#bottom_line4{
    margin: auto;
    background-color: grey;
    grid-column: 5 / 6;
    grid-row: 3 / 4;
}

.comments{
    font-family: "verdana", Helvetica, sans-serif;
    text-align:left;
    margin: 5em 40% 2em 5em ;
}

.footer{
    text-align:center;
    padding: 2em auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 200%;
}

.footer img{
    display:flex;
    margin:4em auto;
    height:5em;
    width: 20em;
    overflow:hidden;
}

.footer a{
    margin:1em 0.5em;
}