#logo{
    position: relative;
    margin: 0.5em 10em 1em 10em;
    height:10em;
    overflow:hidden;
}

#navbar{
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align:center;
    margin: 2em auto;
}
#navbar a{
    margin: 2em;
}

#title{
    font-family: "verdana", Helvetica, sans-serif;
    text-align:left;
    margin: 2em 20% 2em 2em ;   
}

#content{
    font-family: "Times New Roman", Helvetica, sans-serif;
    text-align:justify;
    line-height: 150%;
    margin: 1em 20% 2em 3em ;
    float: left;
    vertical-align: super;
}

#content p{ 
    text-indent: 2em;
}


#content:first-letter{
    font-size:5em;
    font-weight: bold;   
}

#content img{
    padding:0px 1em;
    margin-left: auto;
    margin-right: auto;
}

.sidebar{
    position: absolute;
    top: 18em;
    padding-left: 1em;
    right: 2em;
    width: 400px;
    height: 700px;
    border-left: 3px solid #000000;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    text-align:center;
}

.post-img{
    display: inline-block;
}

.post-img img{
    max-height: 75px;
}

.post-title{
    display: inline-block;
}

.author{
    font-family: "verdana", Helvetica, sans-serif;
    margin: 1em 20% 2em 3em ;
}
.author-img{
    height:1.5em;
    width: 1.5em;
}


.comments{
    font-family: "verdana", Helvetica, sans-serif;
    text-align:left;
    margin: 1em 20% 2em 3em ;
}

.footer{
    text-align:center;
    padding: 2em auto;
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    line-height: 200%;
}

.footer img{
    display:flex;
    margin:4em auto;
    height:5em;
    width: 20em;
    overflow:hidden;
}

.footer a{
    margin:1em 0.5em;
}